
*{
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #dbc981;
}

.row{
  width: 75%;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

#logo{
  width: 4em;
  height: 4em;
  -webkit-transition:  -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  -o-transition: -o-transform .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out; 
  transition: transform .2s ease-out; 
  cursor: pointer;
}

#logo:hover{
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

a{
  text-decoration: none;

  color: inherit;
}

.menu p, .menu h1, .menu h2, .menu h3, .menu h4, .menu h5{
  margin-right: 5%!important;
  margin-left: 5%!important;
  text-align: center!important;
}

.menu div{
  /*border: 3px #b79e3c solid;
  margin: 0.3%*/
  top:0;
  height: 80%;
}

.menu img{
  width: 80%;
  border: 5px #b79e3c solid;
  margin: 6%;
}

.jumbotron{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #b79e3c;
  width: 100%;
  text-align: left;
}

footer p{
  margin-bottom: 20px;
}

.jumbotron h1{
  font-size: 63px;
}

.jumbotron p{
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #681414;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav #logo{
  margin-left: 15%;
}
.maincontainer div{
  text-align: center;
}

#scroll{
  font-size:20px;
  cursor:pointer;
  padding-left:6px;
  position:fixed;
  top:0;
  width:25px;
  background-color:#eee;
  border-right:1px solid transparent;
  border-bottom:1px solid transparent;
  border-radius:0 0 9px 0;color:#777
}

.maincontainer :not(div){
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.bigbtn{
  padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  color: #fff;
    background-color: #ff5e5e;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.bigbtn:hover{
  background-color: #a53b3b;
}

.link{
  color: #42b0f4;
  font-weight: 600;
  margin: 0!important;
}

.jumbotron a {
  margin-left: 0;
  margin-right: 0;
}

.normalbtn{
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #b79e3c;
    margin-right: 0!important;
    margin-left: 0!important;
}

.normalbtn:hover{
  background-color: #ceb656;
}



#points h4{
  height: 95px;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border-top: 1px solid #b79e3c;
  background-color: #b79e3c;
  margin-right: 0!important;
  margin-left: 0!important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 1024px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  #logo{
    width: 6em;
    height: 6em;
  }
  .nav a{
    font-size: 25px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  #logo{
    width: 6em;
    height: 6em;
  }
  .nav a{
    font-size: 25px;
    padding-bottom: 15px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .nav a{
    font-size: 15px;
  }
}